@model string
@{
    ViewData["Title"] = "Change password";
}
<partial name="_validationSummary">

    <form class="panel panel-default width-250" method="post" asp-action="Password">
        <input asp-for="@Model" name="UserId" type="hidden" />
        <div class="panel-heading">
            <h4>Change password</h4>
        </div>
        <div class="panel-body">

            <div class="form-group form-group-sm">
                <label>Old password</label>
                <input type="password" class="form-control input-sm" name="OldPassword" />
            </div>
            <div class="form-group form-group-sm">
                <label>New password</label>
                <input type="password" class="form-control input-sm" name="NewPassword" />
            </div>
            <div class="form-group form-group-sm">
                <label>Confirm new password</label>
                <input type="password" class="form-control input-sm" name="ConfirmNewPassword" />
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-primary" type="submit">Save</button>
            <a asp-action="Details" asp-route-userId="@Model" class="btn btn-sm btn-default">Cancel</a>
        </div>
    </form>
